html {
  min-height: -webkit-fill-available;
  scroll-behavior: smooth;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
}

body {
  background-color: var(--bg-primary);
}

main#main {
  overflow-x: hidden;
  // margin-top: var(--header-height);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}